<nav class="navbar-leboncoin">
  <div class="container">
    <div class="contain-logo-and-link">
      <div class="contain-logo-leboncoin">
        <a href="/" style="display: flex;">
          <img class="logo-leboncoin" src="/images/logo.svg" alt="logo">
        </a>
      </div>
      <div class="nav-leboncoin-dis">
        <div>
          <a class="link-navbar" href="/mon-compte">Mon compte</a>
          <a class="link-navbar" href="/deposer">Déposer une annonce</a>
          <a class="link-navbar" href="/annonces/offres">Offres</a>
          <a class="link-navbar" href="/annonces/demandes">Demandes</a>
          <a class="link-navbar" href="/mes-favoris">Mes favoris</a>
        </div>
        <div>
          <$ if (user) { $>
            <a class="link-navbar" href="/logout">Logout</a>
            <$ } else { $>
              <a class="link-navbar" href='/login'>Login</a>
              <a class="link-navbar" href='/register'>Register</a>
              <$ } $>
        </div>
      </div>
    </div>
  </div>
</nav>