<nav class="navbar-leboncoin">
    <div class="container">
      <div class="contain-logo-and-link">
        <div class="contain-logo-leboncoin">
          <a href="/" style="display: flex;">
            <img class="logo-leboncoin" src="/images/logo.svg" alt="logo">
          </a>
        </div>
        <div>
          <a class="link-navbar" href="/deposer">Déposer une annonce</a>
          <a class="link-navbar" href="/annonces/offres">Offres</a>
          <a class="link-navbar" href="/annonces/demandes">Demandes</a>
          <a class="link-navbar" href="/mes-favoris">Mes favoris</a>
        </div>
      </div>
    </div>
  </nav>