<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Déposer une annonce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/social-buttons.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
</head>

<body>
  <$- include partials/navbar.ejs $>
    <$- include partials/navbarMobile.ejs $>
    <$ var messages = getMessages() $>
     <$ if (messages.notify) { $>
        <$ for (msg of messages.notify) { $>
        <div class="info"><$=msg$></div>
        <$ } $>
     <$ } $>
      <$ if (messages.error) { $>
          <$ for (msg of messages.error) { $>
          <div class="error"><$=msg $></div>
          <$ } $>
      <$ } $>
      <div class="wrap">
        <h4>Log In</h4>
        <form id="login" action="/login" method="POST">
          <label for="username">Username </label>
          <input id="username" type="text" placeholder='Username' name="username" />
          <label for="password">Password</label>
          <input id="password" placeholder='Password' type="password" name="password" />
          <div id="submit" class="contain-submit-login">
            <input id="submit-button" type="submit" class="input-submit-login" />
            <label for="submit-button" class="label-for-button">Se connecter</label>
            <div class="dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div>
            <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
              <span class="fab fa-facebook" style="margin-top: 5px"></span> Se connecter avec Facebook
            </a>
          </div>
        </form>
      </div>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
