<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Déposer une annonce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>

<body>
  <$- include partials/navbar.ejs $>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-8">
          <div class="card-ad">
            <h3>
              <$=product.title $>
            </h3>
            <div class="contain-img-ad">
              <img src="/uploads/<$=product.photo$>" alt="image" class="photo-show">
            </div>
            <div class="contain-pseudo-ad">
              <h4>
                <$=product.pseudo $>
              </h4>
            </div>
            <div class="contain-city-price">
              <span class="title-city-price">Prix</span>
              <span class="value-city-price">
                <$=product.price $>€</span>
            </div>
            <div class="contain-city-price">
              <span class="title-city-price">Ville</span>
              <span class="value-city-price">
                <$=product.city $>
              </span>
            </div>
            <div>
              <p class="margin-top-1">
                Description:
                <br>
                <br>
                <$=product.textarea $>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="contain-pseudo-tel">
            <div class="contain-pseudo">
              <h4>
                <$=product.pseudo $>
              </h4>
            </div>
            <div class="text-center padding-10">
              <p id="tel-ad">
                <button class="btn click-button">Voir le numéro</button>
              </p>
              <$ if (alreadyFav) { $>
                <button class="btn btn-primary" style="pointer-events: none">Ajouté a vos favoris</button>
             <$ } else { $>
              <button class="btn btn-primary" id="add-favor">Mettre en favoris</button>
             <$}$>
             <a href="/modifier/<$= product._id $>"><button class="btn btn-secondary">Modifier</button></a>
             <a href="/supprimer/<$= product._id $>"><button class="btn btn-secondary">Supprimer</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>
      $('.click-button').click(function () {
        $('#tel-ad').html('<a href="tel:<$=product.tel $>"><$=product.tel $></a>');
      });
      $('#add-favor').click(function () {
        $(this).text('Ajouté a vos favoris');
        $.post(
          "/add-favor", {
            id: location.pathname.replace("/annonce/", "")
          },
          function (data) {
            console.log(data);
          }
        )
      });
    </script>
</body>

</html>