textarea {
  resize: none;
}

.section-ad {
  background: #666666;
  color: white;
  padding: 8px 20px;
}

.paddborder {
  padding: 20px;
  border: 1px solid grey;
}

.card-ad {
  background: white;
  border: 1px solid rgb(185, 185, 185);
  padding: 20px;
}

.contain-img-ad {
  background: #eee;
  padding: 5px;
}

.contain-pseudo-ad {
  padding: 5px;
  border: 1px solid #eee;
}

.contain-city-price {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 5px;
  width: 100%;
}

.title-city-price {
  background: #eee;
  width: 30%;
  padding: 5px;
}

.value-city-price {
  width: 70%;
  text-indent: 30px;
  padding: 5px;
}

.contain-pseudo {
  background: #eee;
  padding: 5px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.contain-pseudo-tel {
  border: 1px solid #eee;
}

.padding-10 {
  padding: 10px;
}

.contain-all-ad {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 4px solid #eee;
  margin-bottom: 2px;
}

.contain-image-ad {
  background: #eee;
  padding: 10px;
  width: 150px;
  text-align: center;
  margin-right: 2em;
}

.image-ad {
  width: 120px;
  object-fit: cover;
  height: 150px;
}

.navbar-leboncoin {
  background: #f56b2a;
  height: 60px;
  margin-bottom: 3em;
}

.link-navbar {
  color: #fff;
}

.logo-leboncoin {
  width: 140px;
  height: 40px;
}

.content-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-logo-and-link {
  display: flex;
  align-items: center;
  height: 60px;
}

.contain-logo-leboncoin {
  margin-right: 1em;
}

.link-navbar:not(:last-child) {
  margin-right: 1em;
}

.photo-show {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.h4-title {
  font-size: 18px;
  text-transform: capitalize;
}

.p-city {
  font-size: 14px;
}

.p-price {
  font-size: 20px;
  font-weight: bold;
  color: #f56b2a;
}

.margin-top-1 {
  margin-top: 1em;
}

.click-button {
  background: #f56b2a;
  color: #fff;
}

#tel-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
}