textarea {
  resize: none;
}

.section-ad {
  background: #666666;
  color: white;
  padding: 8px 20px;
}

.paddborder {
  padding: 20px;
  border: 1px solid grey;
}

.card-ad {
  background: white;
  border: 1px solid #eee;
  padding: 20px;
}

.contain-img-ad {
  background: #eee;
  padding: 5px;
}

.contain-pseudo-ad {
  padding: 15px;
  border: 1px solid #eee;
}

.contain-city-price {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 5px;
  width: 100%;
}

.title-city-price {
  background: #eee;
  width: 30%;
  padding: 5px;
}

.value-city-price {
  width: 70%;
  text-indent: 30px;
  padding: 5px;
}

.contain-pseudo {
  background: #eee;
  padding: 5px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.contain-pseudo-tel {
  border: 1px solid #eee;
}

.padding-10 {
  padding: 10px;
}

.contain-all-ad {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 4px solid #eee;
  margin-bottom: 2px;
}

.contain-image-ad {
  background: #eee;
  padding: 10px;
  width: 150px;
  text-align: center;
  margin-right: 2em;
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-ad {
  width: 120px;
  object-fit: cover;
  height: 150px;
}

.navbar-leboncoin {
  background: #f56b2a;
  height: 60px;
  margin-bottom: 3em;
}

.link-navbar {
  color: #fff;
}

.logo-leboncoin {
  width: 140px;
  height: 40px;
}

.content-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-logo-and-link {
  display: flex;
  align-items: center;
  height: 60px;
}

.contain-logo-leboncoin {
  margin-right: 1em;
}

.link-navbar:not(:last-child) {
  margin-right: 1em;
}

.photo-show {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.h4-title {
  font-size: 18px;
  text-transform: capitalize;
}

.p-city {
  font-size: 14px;
}

.p-price {
  font-size: 20px;
  font-weight: bold;
  color: #f56b2a;
}

.margin-top-1 {
  margin-top: 1em;
}

.click-button {
  background: #f56b2a;
  color: #fff;
}

#tel-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
}

.link-navbar:hover {
  color: white;
}

input:focus:invalid, textarea:focus:invalid {
  border-color: #DD2C00;
}

input:focus, textarea:invalid {
  outline: none!important;
  box-shadow: none!important;
}

.input-radio {
  display: flex;
  margin-bottom: 1em;
}
.contain-input-radio {
  display: inline-flex;
  align-items: center;
}

.margin-left-right-20 {
  margin: 0 20px;
}

label {
  color: #666666;
}

.informations-droits {
  background: #ffeebf;
  padding: 10px;
  text-align: justify;
  font-size: 13px;
  margin: 20px auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-link:hover, .nav-link:focus {
  color: #f56b2a;
}

.number-products {
  color: #666666;
  font-weight: bold;
}

li {
  list-style: none;
}

.pagination {
  border: 1px solid #cccccc;
  margin: 25px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-pagination:not(:last-child):after {
  content: "-";
  margin: 0 10px;
}


div.contain-img-ad > div > ul > li > a > img {
  height: 80px!important;
  width: 80px;
  object-fit: cover;
  margin: 0;
}

.lSSlideOuter .lSPager.lSGallery {
  display: flex;
  justify-content: space-around;
  width: 100%!important;
}

.page-pagination > a {
  padding: 5px 10px;
  border-radius: 3px;
}
.page-pagination > a:hover {
  color: #fff;
  background: #666;
}

div.contain-img-ad > div > ul > li {
  width: auto!important;
}

/* Navbar Mobile */
.button_container {
  position: fixed;
  display: none;
  top: 2%;
  right: 8%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #FFF;
  border-radius: 50px;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 10px;
}

.button_container span:nth-of-type(3) {
  top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
}

.overlay:before {
  content: '';
  background: #1E1E1E;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: left .35s ease;
  transition: left .35s ease;
}

.overlay:after {
  content: '';
  background: #1E1E1E;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.open:before {
  left: 0;
}

.overlay.open:after {
  right: 0;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
  animation-delay: .55s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
  animation-delay: .65s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: inline-block;
  padding: 30px;
  z-index: 9999;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  border-radius: 10rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 7rem;
  z-index: -1;
  background: #f56b2a;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@media (max-width: 790px) {
  .button_container {
    display: initial;
  }
  .link-navbar {
    display: none;
  }
}